#parent{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
#center{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#center img{
    width: 100%;

}