#Order-popup{
    position: fixed;
    background-color: white;
    top: 0.5vh;
    left: 30%;
    height: auto;
    width: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    z-index: 100;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    border: 4px solid #ff5a1f;
    border-radius:20px ;
    overflow: hidden;
    color: rgb(96, 96, 96);
}


#popup-top{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(96, 96, 96);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 200px;
}
#help{
    width: 10vw;
    min-width: 100px;
}
#quit{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#popup-buttom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: auto;
    width: 85%;
    text-align: center;


}
#popup-buttom-buttons{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

#popup-buttom-buttons button{
  background-color: #ff5a1f; 
  color: white;
  border: none;
  padding: 10px 22px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  width: auto;
  
  
}
#button-right:hover{
    opacity: 0.85;
}
#button-left:hover{
    opacity: 0.85;
}



@media(max-width:1070px){

    
    #popup-buttom-buttons{
        
        flex-direction: column;
    }
    #popup-buttom-buttons button{
        margin-bottom:20px ;
    }
}